{% extends "layout.html" %}
{% block content %}
<div class="box glow-red">
    <h2 style="color:var(--r)">INITIALIZE_DATA_STREAM</h2>
    <form action="/add" method="POST">
        <input type="text" name="t" placeholder="STREAM_TITLE" required style="width: 97%; margin-bottom: 15px;"><br>
        <textarea name="c" placeholder="ENTER_ENCRYPTED_DATA..." required style="width: 97%; height: 200px; margin-bottom: 15px;"></textarea><br>
        <select name="style" style="width: 100%; margin-bottom: 15px;">
            <option value="glow-red">RED_GLOW</option>
            <option value="glow-rainbow">RAINBOW_INNER_BURN</option>
        </select>
        <button type="submit" style="background:var(--r); color:#fff; border:none; padding:15px; width:100%; cursor:pointer; font-weight:bold;">EXECUTE_PUSH</button>
    </form>
</div>
{% endblock %}
