{% extends "layout.html" %}
{% block content %}
<h2>INJECT_NEW_DATA</h2>
<form method="POST">
    <input type="text" name="t" placeholder="TITLE" required>
    <textarea name="c" style="height: 300px;" placeholder="CONTENT..." required></textarea>
    <select name="style">
        <option value="dark-blue">DEFAULT_BLUE</option>
        <option value="red">NEON_RED</option>
        {% if session.role == 'Owner' %}<option value="rainbow">VIP_RAINBOW</option>{% endif %}
    </select>
    <button type="submit" class="btn">POST_TO_SYSTEM</button>
</form>
{% endblock %}
