{% extends "layout.html" %}
{% block content %}
<h2 style="color:var(--r); font-size:13px; margin-bottom:20px;">> ACCESSING_PUBLIC_FEED...</h2>

{% for p in pastes %}
    {% set display_style = p.style %}
    {% if p.style == 'glow-rainbow' and p.sender != 'waxues' %}
        {% set display_style = 'glow-red' %}
    {% endif %}

    <div class="box {{ display_style }}">
        <div style="display:flex; justify-content:space-between;">
            <a href="/paste/{{ p.id }}" style="text-decoration:none; color:#eee; font-weight:bold;">{{ p.title }}</a>
            <span style="font-size:10px; color:#333;">{{ p.date }}</span>
        </div>
        <div style="margin-top:8px; font-size:11px;">
            NODE: <a href="/profile/{{ p.sender }}" class="{{ 'waxues-nick' if p.sender == 'waxues' else '' }}" style="{{ '' if p.sender == 'waxues' else 'color:#555; text-decoration:none;' }}">{{ p.sender }}</a>
        </div>
    </div>
{% endfor %}
{% endblock %}
