{% extends "layout.html" %}
{% block content %}
<div class="box">
    <h2>SYSTEM_EDIT // {{ u.username }}</h2>
    <form method="POST" enctype="multipart/form-data">
        <label>CUSTOM_STATUS</label>
        <input type="text" name="status" value="{{ u.status }}">
        
        <label>BACKGROUND_IMAGE_URL</label>
        <input type="text" name="bg_url" value="{{ u.bg_url }}" placeholder="https://...">
        
        <label>AVATAR_UPLOAD</label>
        <input type="file" name="avatar">
        
        <button type="submit" class="btn">APPLY_CHANGES</button>
    </form>
</div>
{% endblock %}
