{% extends "layout.html" %}
{% block content %}
<div class="box">
    <h2 style="color: var(--r); letter-spacing: 3px;">[ REGISTERED_NODES ]</h2>
    <table style="width: 100%; border-collapse: collapse; margin-top: 20px;">
        <tr style="color: #444; font-size: 12px; border-bottom: 1px solid #222;">
            <th style="padding: 10px; text-align: left;">NODE_NAME</th>
            <th>STATUS</th>
            <th>XP_LEVEL</th>
        </tr>
        {% for user in users %}
        <tr style="border-bottom: 1px solid #111;">
            <td style="padding: 15px;">
                <a href="/profile/{{ user.username }}" class="{{ 'waxues-nick' if user.username == 'waxues' else '' }}" style="text-decoration: none;">
                    {{ user.username }}
                </a>
            </td>
            <td style="text-align: center; font-size: 11px; color: #777;">{{ user.status }}</td>
            <td style="text-align: center; color: var(--g);">{{ user.xp }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
