{% extends "layout.html" %}
{% block content %}
<div class="box {{ p.style }}">
    <h2 style="margin:0;">{{ p.title }}</h2>
    <p style="font-size:10px; color:#555;">SENDER: {{ p.sender }} | DATE: {{ p.date }}</p>
    <div style="background:rgba(0,0,0,0.5); padding:15px; border:1px solid #222; white-space:pre-wrap;">{{ p.content }}</div>
    
    <div style="margin-top:15px;">
        <a href="/action/{{ p.id }}/like" style="text-decoration:none;">👍 {{ p.likes }}</a>
        <a href="/action/{{ p.id }}/dis" style="text-decoration:none; margin-left:15px;">👎 {{ p.dislikes }}</a>
    </div>
</div>

<div class="box">
    <h4 style="color:#444; margin-bottom:10px;">COMMENTS</h4>
    {% for c in p.comments %}
        <div class="comment-box" style="background:#020202; border-left:3px solid var(--r); padding:10px; margin-bottom:5px;">
            <b style="color:var(--b);">{{ c.u }}</b>: {{ c.t }} 
            <i style="font-size:9px; color:#333; float:right;">{{ c.time }}</i>
        </div>
    {% endfor %}
    <form action="/comment/{{ p.id }}" method="POST" style="margin-top:15px; display:flex;">
        <input type="text" name="txt" placeholder="WRITE_COMMENT..." required style="flex-grow:1; background:#000; color:var(--g); border:1px solid #222; padding:10px;">
        <button type="submit" style="background:var(--r); color:#fff; border:none; padding:10px 20px; cursor:pointer;">SEND</button>
    </form>
</div>
{% endblock %}
